﻿@model IEnumerable<web2019asn_p03_team3.Models.Suggestion>

@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewSuggestions" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>SuggestionID</th>
                    <th>StudentID</th>
                    <th>Date of Post</th>
                    <th>Suggestions Description</th>
                    <th>Status</th>
                    <th>Posted by (LecturerID)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SuggestionID.ToString()</td>
                        <td>@item.StudentID</td>
                        <td>@item.DateCreated</td>
                        <td>@item.SuggestionDescription</td>
                        <td>@item.SuggestionStatus</td>
                        <td>@item.LecturerID</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <span style="color:red">No suggestion posted!</span>
} 