﻿@model web2019asn_p03_team3.Models.Suggestion

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Suggestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                    <label asp-for="StudentID" class="control-label"></label>
                    <input asp-for="StudentID" class="form-control" min="1" />
                    <span asp-validation-for="StudentID" class="text-danger"></span>
                </div>*@

            @*Dropdown*@

            <div class="form-group">
                <label asp-for="StudentID" class="control-label">Mentee's StudentID: </label>
                <select asp-for="StudentID" id="StudentID" class="form-control">
                    @foreach (var item in ViewData["StudentList"] as List<int>)
                    {
                    <option value="@Convert.ToInt32(item)">@Convert.ToInt32(item)</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="SuggestionDescription" class="control-label">Suggestion Description: </label>
                <textarea asp-for="SuggestionDescription" id="SuggestionDescription" class="form-control"> </textarea>
                <span asp-validation-for="SuggestionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Suggestion List</a>
</div>

