﻿@model IEnumerable<web2019asn_p03_team3.Models.Suggestion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Suggestions</h4>
<p style="color:red;">@TempData["message1"]</p>
<p><a asp-action="Create">Create New Suggestion</a></p>

<!-- Add a partial view to display a list of staff records
    in a tabular format. -->
<partial name="~/Views/Suggestion/_ViewSuggestions.cshtml" model="@Model" />