﻿.navbar {
    color: #464646;
    font-weight: 500;
    background-color: rgb(249,239,129);
}

.nav-logo {
    font-size: 25px !important;
    font-weight: bold !important;
    color: #757470 !important;
}

.zoom {
    position:relative;
    overflow:hidden;
    background-color: #f9ef81;
    border: 1px solid transparent;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.zoom:hover {
    background-color: rgba(0,0,0,0.7) !important;
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    transition-duration: 0.3s;
}

.zoom:hover .overlay h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}



    .zoom:hover img {
        transition-duration: 0.3s;
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
    }

.zoomProj {
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

    .zoomProj:hover img {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1);
        transition-duration: 0.3s;
    }
.p-5 {
    padding: 1rem !important;
}

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}