﻿<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand m-0 nav-logo" href="~/Home/Index" style="padding-left: 10%">E-Portfolio</a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto" style="margin-right: 10%">
            <li class="nav-item" style="color: rgb(117,116,112);"><a class="nav-link" href="~/Home/Index">Home</a> </li>
            <li class="nav-item" style="color: rgb(117,116,112);"><a class="nav-link" href="~/Project/Index">Projects</a> </li>
            <li class="nav-item" style="color: rgb(117,116,112);"><a class="nav-link" href="~/Student/Index">Students</a> </li>
            <li class="nav-item" style="color: rgb(117,116,112);"><a class="nav-link" href="~/Login/Index">Log In</a> </li>
        </ul>
    </div>
</nav>

@*testing purposes*@
<p style="display: flex; justify-content: center; font-size:25px; padding-top:25px;">Welcome, Guest!</p>