﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/Main.css">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="~/css/chosen.min.css" rel="stylesheet" />
</head>
<body>
    @{
        var studentID = Context.Session.GetString("StudentID");
        var studentName = Context.Session.GetString("StudentName");

        var lecturerID = Context.Session.GetString("LecturerID");
        var lecturerName = Context.Session.GetString("LecturerName");


        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Student")
            {
                @await Html.PartialAsync("_studentNavbar.cshtml")
            }
            else if (Context.Session.GetString("Role") == "Lecturer")
            {
                @await Html.PartialAsync("_lecturerNavbar.cshtml")
            }
        }
        else
        {
            @await Html.PartialAsync("_guestNavbar.cshtml")
        }
    }


    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" style="text-align: right">
                <hr />
                <footer>
                    <p style="padding-right:10px;text-align: center;">
                        WEB Assignment Team 3 - &copy;@DateTime.Today.Year
                        School of ICT, Ngee Ann Polytechnic
                    </p>
                </footer>
            </div>
        </div>

    </div>




    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/chosen.jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
