﻿
<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand m-0 nav-logo" href="~/Home/Index" style="padding-left:10%">E-Portfolio</a>
    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto" style="margin-right: 10%">
            <li class="nav-item" style="color: rgb(117,116,112);">
                <a class="nav-link" href="~/Home/Index">Home</a>
            </li>

            <li class="nav-item" style="color: rgb(117,116,112);"> <a class="nav-link" href="~/Lecturer/ViewMentees">Mentees</a> </li>

            <li class="nav-item" style="color: rgb(117,116,112);"> <a class="nav-link" href="~/Suggestion/Index">Suggestions</a> </li>

            <li class="nav-item" style="color: rgb(117,116,112);"> <a class="nav-link" href="~/Skillset/Index">Skill Sets</a> </li>

            <li class="nav-item dropdown" style="color: rgb(117,116,112);">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My Profile</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="~/Lecturer/ChangePassword">Change Password</a>
                </div>
            </li>
            <li class="nav-item" style="color: rgb(117,116,112);"> <a class="nav-link" href="~/Home/LogOut">Logout</a> </li>
        </ul>
    </div>
</nav>

@*testing purposes*@

<p style="display: flex; justify-content: center; font-size:25px; padding-top:25px;">
    @{
        var userId = Context.Session.GetString("LecturerID");
        var userName = Context.Session.GetString("LecturerName");

        if (Context.Session.GetString("LecturerName") != null)
        {
            userName = Context.Session.GetString("LecturerName");
        }

        if (Context.Session.GetString("LecturerID") != null)
        {
            userId = Context.Session.GetString("LecturerID");
        }
    }
    Welcome,&nbsp;
    Lecturer Name : @userName&nbsp;
    (LecturerID: @userId).&nbsp;
</p>
<br />
<p style="display: flex; justify-content: center;">Time now is @DateTime.Now</p>
