﻿<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand m-0 nav-logo" href="~/Home/Index">E-Portfolio</a>
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar16">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar16">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="~/Home/Index">Home</a> </li>
            <li class="nav-item"> <a class="nav-link" href="~/Project/Index">Project</a> </li>
            <li class="nav-item"> <a class="nav-link" href="~/Student/Index">Profile</a></li>
            <li class="nav-item"> <a class="nav-link" href="~/Home/LogOut">Log Out</a> </li>
        </ul>
    </div>
</nav>

@*testing purposes*@

        <p style="display: flex; justify-content: center; font-size:25px; padding-top:25px;">
            @{
                var userId = Context.Session.GetString("StudentID");
                var userName = Context.Session.GetString("StudentName");

                if (Context.Session.GetString("StudentName") != null)
                {
                    userName = Context.Session.GetString("StudentName");
                }

                if (Context.Session.GetString("StudentID") != null)
                {
                    userId = Context.Session.GetString("StudentID");
                }
            }
            Welcome,&nbsp;
            Student Name : @userName&nbsp;
            (StudentID: @userId).&nbsp;

        </p><br />
        <p style="display: flex; justify-content: center;">Time now is @DateTime.Now</p>

    
