﻿@model web2019asn_p03_team3.Models.Lecturer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="text-center mx-auto col-md-12">
                <h1>Please select an account</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-5">
                <a href="~/Login/StudentLogin">
                    <div class="zoom">
                        <img class="img-fluid" src="~/images/studentIcon.png" />
                        <div class="overlay"><h3>Student</h3></div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 p-5">
                <a href="~/Login/LecturerLogin">
                    <div class="zoom">
                        <img class="img-fluid" src="~/images/lecturerIcon.png" />
                        <div class="overlay"><h3>Lecturer</h3></div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>

