﻿
@{
    ViewData["Title"] = "LecturerLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="py-5 px-0">
    <div class="container">
        <h4 class="PageTitle">Lecturer Log In</h4>
        <hr />
        <div class="row px-0">
            <div class="col-md-12 px-0">
                <form method="post" action="~/Login/LecturerLogin">
                    <div class="form-group">
                        <label for="txtLoginID">Email address</label>
                        <input type="email" name="txtLoginID" id="txtLoginID" required class="form-control" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Password</label>
                        <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder="Password">
                    </div>
                    <small class="form-text text-muted">Dont have an account ? Sign up <a href="~/SignUp/LecturerSignUp">here</a></small>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    <span style="color:red;">@TempData["Message"] </span>
                </form>
            </div>
        </div>
    </div>
</div>