﻿@model IEnumerable<web2019asn_p03_team3.Models.Student>



<div class="py-5">
    <div class="container">
        
        <div class="row">
            @if (Model.ToList().Count > 0)
            {

                @foreach (var profile in Model)
                {
                    <div class="col-md-3">
                        <div class="card" style="margin-bottom:20px;">
                            <div class="zoomProj" style="height:300px;">
                                <img class="card-img-top" style=" height: 100%;width: 100%;" src="~/images/@profile.StudentPhoto" alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <small>StudentID : @profile.StudentID</small>
                                <h5 class="card-title">@profile.StudentName</h5>
                                <a asp-action="Profile" asp-controller="Student" asp-route-id="@profile.StudentID" class="btn btn-primary">View Student</a>
                            </div>

                        </div>
                    </div>
                }

            }
            else
            {
                <span style="color:red">No Students found!</span>
            }
        </div>

    </div>
</div>