﻿@model web2019asn_p03_team3.Models.StudentViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">Edit Student Profile</h4>
<hr /><a href="index">Return to Student page</a>
<div class="py-5  text-center">
    
    <h4 class="PageTitle">Edit Student </h4>
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-7">
                <form asp-action="Edit">
                    <fieldset class="FormContent">
                        <p>@Html.ValidationSummary(false)</p>
                        <a asp-action="Studentphoto" asp-route-id="@Model.StudentID">Upload Photo</a>
                        <br />
                        <a asp-action="StudentSkill" asp-route-id="@Model.StudentID">Skillsets</a>
                        <br />
                        <a asp-action="Studentsuggestion" asp-route-id="@Model.StudentID">Mentors Suggestions</a>
                        <div class="form-group row">
                            <label asp-for="StudentID" class="control-label" style="font-weight:bold;"></label>
                            <input asp-for="StudentID" readonly class="form-control-plaintext" />
                        </div>

                        <div class="form-group row">
                            <label asp-for="StudentName " class="control-label" style="font-weight:bold;"></label>
                            <input asp-for="StudentName" readonly class="form-control-plaintext" />
                        </div>
                        @*<div class="form-group row">
                    <label asp-for="MentorID" class="control-label" style="font-weight:bold;"></label>
                    <input asp-for="MentorID" readonly class="form-control-plaintext" />
                </div>*@
                        <div class="form-group row">
                            <label class="control-label" style="font-weight:bold;">Email Address</label>
                            @*<input asp-for="StudentEmailAddr" readonly class="form-control-plaintext" />*@
                            <span> @Model.StudentEmailAddr</span>
                        </div>
                        @*<div class="form-group row">
                    <label asp-for="StudentCourse " class="control-label" style="font-weight:bold;"></label>
                    <input asp-for="StudentCourse" class="form-control" />
                </div>*@
                        @*<div class="form-group row">
                    <label asp-for="StudentLink" class="control-label" style="font-weight:bold;"></label>
                    <input type="url" asp-for="StudentLink" class="form-control" />
                </div>*@
                        <div class="form-group row">
                            <label asp-for="StudentDescription" class="control-label" style="font-weight:bold;"></label>
                            <input asp-for="StudentDescription" class="form-control" maxlength="3000" />
                            <span asp-validation-for="StudentDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label asp-for="StudentAchievement" class="control-label" style="font-weight:bold;"></label>
                            <input asp-for="StudentAchievement" class="form-control" maxlength="3000" />
                            <span asp-validation-for="StudentAchievement" class="text-danger"></span>
                        </div>

                        @*<div class=" form-group row">
                    <select asp-for="Studentskills" asp-items="@ViewData["SkillListDD"] as List<SelectListItem>" id="select" multiple
                            class="form-control"></select>
                </div>*@
                        @*<div class="form-group row" >
                    <label asp-for="StudentSuggestions" class="control-label" style="font-weight:bold;"></label>
                    <div>
                        @for
                    </div>
                </div>*@
                        <div class="form-group row">
                            <div>
                                @*<span>@ViewData["msg"]</span>*@
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>

                    </fieldset>
                </form>
                @*@if (Context.Session.GetString("Role") == "Student")
                {
                    var userId = Context.Session.GetString("StudentID");
                    @if (Context.Session.GetString("StudentID") != null)
                    {
                        <div>
                            <h3>Suggestions</h3>
                            <table>
                                <tr>
                                    <th>Description</th>
                                    <th>status</th>
                                    <th>Date Created</th>
                                </tr>
                                @foreach (var suggest in Model.StudentSuggestions)
                                {
                                    <tr>
                                        <td>@suggest.SuggestionDescription</td>
                                        <td>@suggest.SuggestionStatus</td>
                                        <td>@suggest.DateCreated</td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                }*@
            </div>
        </div>
    </div>
</div>
<!--<div class="form-group row">
        <label asp-for="Lecturer"
               class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 col-md-5">
            <select asp-for="Lecturer"
                    asp-items=""
                    class="form-control"></select>
        </div>
    </div>-->
