﻿@model IEnumerable<web2019asn_p03_team3.Models.Student>

@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5">
    <div class="container">
        <h2 style="font-size:2rem;">All Student Profile</h2>
      
            <div class="row">
                <div class="col-md-12">



                    <hr />

                    @{
                        @if (Context.Session.GetString("Role") != null)
                        {
                            if (Context.Session.GetString("Role") == "Student")
                            {
                                <a class="text-dark" asp-action="Edit" asp-controller="Student" asp-route-id="@Context.Session.GetString("StudentID")" style="text-decoration:none;"><p class="d-inline">
                                    <img src="~/images/editicon.png" style="width: 1.5rem;padding-bottom: 5px; " />Edit My Profile </p></a>
                                @await Html.PartialAsync("_ViewStudent.cshtml")
                            }
                            if (Context.Session.GetString("Role") == "Lecturer")
                            {
                                @await Html.PartialAsync("_ViewStudent.cshtml")
                            }
                        }
                        else
                        {
                            @await Html.PartialAsync("_ViewStudent.cshtml")
                        }
                    }
                </div>
            </div>
    </div>
</div>

<!--

display: flex;
    justify-content: flex-end;
    
    
    -->



<!--
<div style="display: flex; align-content: center;">
    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><br /><img src="~/images/male1.jpg"><h2>Shabbir Mustaffa<br /> IT</h2></div>
    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><br /><img src="~/images/female1.jpg"><h2>Amy Ng<br /> IT</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><br /><img src="~/images/male3.jpg"><h2>Raymond Smith<br /> IT</h2></div>

</div>
<div style="display: flex; align-content: center;">
    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><br /><img src="~/images/male2.jpg"><h2>John Tan<br /> FI </h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><br /><img src="~/images/female2.jpg"><h2>Geetha S<br /> FI </h2></div>

</div>

-->
