﻿@model web2019asn_p03_team3.Models.StudentViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-size:2rem;">Student Profile</h2>
<a href="~/Student/Index" style="font-size:1rem;"> Return to Student Gallery</a>
<div class="px-5">
    <div class="container-fluid">
        <div class="row">
            <div class="p-5 col-lg-6 d-flex justify " style="justify-content: center;">
                <img class="d-block img-fluid" style="height:50%; border-radius:200px; box-shadow: 5px 10px #d6d6d64f;" src="~/images/@Model.StudentPhoto">
            </div>
            <div class="p-5 col-lg-6">
                <h1 class="text-center">@Model.StudentName</h1>
                <br />
                <br />
                <h4>Student ID : @Model.StudentID</h4>
                <h4>Email Address</h4>
                <p>@Model.StudentEmailAddr</p>
                <br />
                @*<h4>Student Course : @Model.StudentCourse</h4>*@
                <br />
                @*<h4>Linkedin Acc</h4>
            <p>@Model.StudentLink</p>
            <br />*@
                <h4>Student Description</h4>
                <p>@Model.StudentDescription</p>
                <br />

                <h4>Student achievement</h4>
                <p>@Model.StudentAchievement</p>
                <br />
                <br />
            <h4>Mentor : @Model.MentorID</h4>
            <br />

                <h3>SKillset</h3>
                @foreach (var skill in Model.Studentskills)
                {
                    <p>@skill.SkillSetName</p>
                }
            </div>

            @*@if (Context.Session.GetString("Role") == "Student")
            {
                var userId = Context.Session.GetString("StudentID");
                @if (Context.Session.GetString("StudentID") != null)
                {
                    <div>
                        <h3>Suggestions</h3>
                        <table>
                            <tr>
                                <th>Description</th>
                                <th>status</th>
                                <th>Date Created</th>
                            </tr>
                            @foreach (var suggest in Model.StudentSuggestions)
                            {
                                <tr>
                                    <td>@suggest.SuggestionDescription</td>
                                    <td>@suggest.SuggestionStatus</td>
                                    <td>@suggest.DateCreated</td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }*@
            

        </div>
    </div>
</div>

