﻿@model web2019asn_p03_team3.Models.Student

@{
    ViewData["Title"] = "Student Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome homme to wehre you belong u frickin l0s3r studentmain.cshtml</h2>

<div style="display: flex; align-content: center;">
    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

</div>

<div style="display: flex; align-content: center;">
    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

    <div style="border: solid 1px black; text-align: center; margin: 1%; width: 100%"><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2><h2>student pic</h2></div>

</div>