﻿@model web2019asn_p03_team3.Models.StudentViewModel

@{
        ViewData["Title"] = "Studentsuggestion";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead thead class="thead-dark">
            <tr>
                <th>Description</th>
                <th>status</th>
                <th>Date Created</th>
                <th>Acknowledge</th>
            </tr>
        </thead>
        <tbody>
            <div>
                <h3>Suggestions</h3>


                @foreach (var suggest in Model.StudentSuggestions)
                {
                    <tr>
                        <td>@suggest.SuggestionDescription</td>
                        <td>@suggest.SuggestionStatus</td>
                        <td>@suggest.DateCreated</td>
                        <td>
                            <a asp-action="acknowledge" asp-controller="student" asp-route-sId="@suggest.SuggestionID"> Acknowledge</a>
                            @*<input type="submit" value="Acknowledge" class="btn btn-primary" />*@
                        </td>
                    </tr>
                }

            </div>
        </tbody>
    </table>
    <span>@ViewData["Acknowledge"]</span>
    <a asp-action="Index">Back to List</a>
</div>
