﻿@model web2019asn_p03_team3.Models.StudentViewModel

@{
    ViewData["Title"] = "StudentSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StudentSkill</h2>
<form asp-action="StudentSkill" asp-controller="Student" method="post">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label class="control-label" style="font-weight:bold;">SKILLSET</label>
            <div class="form-group row">
                <label asp-for="StudentID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="StudentID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">

                <label asp-for="StudentskillId"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="StudentskillId"
                            asp-items="@ViewData["Skilllist"] as List<SelectListItem>" 
                            class="form-control"></select>
                </div>
            </div>

        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="save" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
</form>



@*<table class="table">
        <tr>
            <th></th>
            <th>Skillset</th>
        </tr>

        @foreach (var skill in Model.)
        {
            <tr>
                <td>@skill.SkillSetID</td>
                <td>@skill.SkillSetName</td>
                @{
                    if (Model.Studentskills.IndexOf(skill) > -1)
                    {
                        <td><input type="checkbox" checked></td>
                    }

                    else
                    {
                        <td><input type="checkbox"></td>
                    }
                }
            </tr>
        }
    </table>*@