﻿@model web2019asn_p03_team3.Models.StudentViewModel

@{
    ViewData["Title"] = "Studentphoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style=" text-align:center;">Upload Student portrait photo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Studentphoto" enctype="multipart/form-data">
            <div class="form-group row">
                <label asp-for="StudentID"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="StudentID" readonly
                           class="form-control-plaintext" />
                </div>
            </div>

            <div class="form-group row">
                <label asp-for="StudentName" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <input asp-for="StudentName" readonly class="form-control-plaintext" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="StudentPhoto"
                       class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <img src="~/images/@Model.StudentPhoto" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FileToUpload"
                       class="col-sm-3 col-form-label">
                    New Photo (jpg format)
                </label>
                <div class="col-sm-9">
                    <input asp-for="FileToUpload" accept="image/jpeg" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-9 offset-sm-3">
                    <input type="submit" value="Upload"
                           class="btn btn-primary" />
                    <span style="color:red;">@ViewData["Message"]</span>
                </div>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

