﻿@model IEnumerable<web2019asn_p03_team3.Models.SkillSet>


<div class="">
    <div class="container">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="table-responsive">
            <table id="viewSkillSets" class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SkillSetID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SkillSetName)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ss in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => ss.SkillSetID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => ss.SkillSetName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-controller="SkillSet" asp-route-id="@ss.SkillSetID"><p>Edit</p></a>
                                <a asp-action="Delete" asp-controller="SkillSet" asp-route-id="@ss.SkillSetID"><p>Delete</p></a>
                                <a asp-action="ViewStudent" asp-controller="SkillSet" asp-route-id="@ss.SkillSetID"><p>View Students</p></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>