﻿@model web2019asn_p03_team3.Models.SkillSet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <div>
            <form asp-action="Delete">
                <input type="submit" value="Yes" class="btn btn-default col-md-1" />
            </form>

            <span class="text-dagger" style="color: red">@ViewData["Message"]</span>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
