﻿@model IEnumerable<web2019asn_p03_team3.Models.SkillSet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5">
    <div class="container">
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Lecturer")
            {
                <div class="container d-flex">
                    <h3>List of Skill Sets</h3>
                </div>
                <hr />
                @await Html.PartialAsync("_ViewSkillSets.cshtml")
            }
        }
    </div>
</div>