﻿@model web2019asn_p03_team3.Models.StudentSkillSet

@{
    ViewData["Title"] = "ViewStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="container">
        <div class="container d-flex">
            <h3>List of Students</h3>
        </div>
        <hr />

        @if (@Model.Students.Count() > 0)
        {
            <div class="table-responsive">
                <table id="viewSkillSets" class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>StudentID</th>
                            <th>StudentName</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in @Model.Students)
                        {
                            <tr>
                                <td>@s.StudentID.ToString()</td>
                                <td>@s.StudentName</td>
                                <td>
                                    <a asp-action="Profile" asp-controller="Student" asp-route-id="@s.StudentID">View Profile</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <span style="color:red">No record found!</span>
        }
        <div>
            <br /><a asp-action="Index" asp-controller="SkillSet">Return to List of Skillsets</a>
        </div>
    </div>
</div>

