﻿@model IEnumerable<web2019asn_p03_team3.Models.Project>

<div class="py-5">
    <div class="container">
        <div class="row">
            @try
            {
                @if (Model.ToList().Count > 0)
                {
                    foreach (var project in Model)
                    {

                        <div class="col-md-3 col-sm-6">
                            <div class="card mt-4">
                                <div class="zoomProj">
                                    <a asp-action="Details" asp-controller="Project" asp-route-id="@project.ProjectID"><img class="card-img-top" src="~/images/@project.ProjectPoster" alt="Card image cap"></a>
                                </div>
                                <div class="card-body">
                                    @if (Context.Session.GetString("Role") == "Student")
                                    {
                                        <div class="text-right">
                                            <a asp-action="Details" asp-controller="Project" asp-route-id="@project.ProjectID"> <i class="fas fa-eye"></i></a>
                                            <a asp-action="Edit" asp-controller="Project" asp-route-id="@project.ProjectID"><i class="fas fa-edit"></i></a>
                                            <a asp-action="Delete" asp-controller="Project" asp-route-id="@project.ProjectID"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    }

                                    <small>Project ID : @project.ProjectID</small>
                                    <h5 class="card-title">@project.ProjectTitle</h5>
                                    @if (Context.Session.GetString("Role") != "Student")
                                    {
                                        <a asp-action="Details" asp-controller="Project" asp-route-id="@project.ProjectID" class="btn btn-primary">View Project</a>
                                    }
                                </div>
                            </div>
                        </div>

                    }
                }
                else
                {
                    <div class="container">
                        <div class="text-center">
                            <h1 class="display-1" style="color:red">No Projects Found</h1>
                        </div>
                    </div>
                }
            }
            catch
            {

                <div class="container">
                    <div class="text-center">
                        <h1 class="display-1" style="color:red">No Projects Found</h1>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
