﻿@model web2019asn_p03_team3.Models.ProjectViewModel

@{
    ViewData["Title"] = "AddnRemoveMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<hr />
<h2>Add Members</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddnRemoveMembers">
            <div class="form-group row">
                <label asp-for="Members" class="col-sm-3 col-form-label">Add Members</label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="Members" asp-items="@ViewData["studentList"] as List<SelectListItem>" class="form-control selectFunc" multiple></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </form>
    </div>
    
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

   
