﻿@model web2019asn_p03_team3.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="py-5  text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto p-4 col-md-7">
                <h1 class="mb-4">Add a project</h1>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="ProjectTitle" type="text" class="form-control" placeholder="Title">
                        <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ProjectURL" type="text" class="form-control" placeholder="URL to project">
                        <span asp-validation-for="ProjectURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="ProjectDescription" class="form-control" rows="3" placeholder="Description"></textarea>
                        <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="ProjectPoster" class="form-control" rows="3" placeholder="Upload Photo - yet to be completed">
                        <span asp-validation-for="ProjectPoster" class="text-danger"></span>
                    </div>
                    <button type="submit" value="Create" class="btn btn-outline-primary btn-block">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

