﻿@model web2019asn_p03_team3.Models.Project

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4>Project</h4>
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    <div class="form-group row">
        <label asp-for="ProjectID" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9 col-md-5">
            <input asp-for="ProjectID" readonly class="form-control-plaintext" />
        </div>
    </div>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
