﻿@model web2019asn_p03_team3.Models.ProjectViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="px-md-5 px-sm-1">
    <div class="container-fluid">
        <div class="row">
            <div class="p-sm-1 col-lg-6 d-flex">
                <img class="d-block img-fluid mx-auto" style="width:auto;" src="~/images/@Model.ProjectPoster">
            </div>
            <div class="p-sm-1 p-md-5 col-lg-6">

                <h1 class="text-center mt-5">@Model.ProjectTitle</h1>
                <small class="mt-5">Project ID : @Model.ProjectID</small>

                <div class="py-2">
                    <h2 class="mt-5">Project Description</h2>
                    <p class="mt-2">@Model.ProjectDescription</p>
                </div>

                <div class="pt-1 pb-5">
                    <h3 class="mt-5">URL to project</h3>
                    <a href="@Model.ProjectURL" class="mt-2 ">@Model.ProjectURL</a>
                </div>
                
                <div class="py-2">
                    <h3>Members</h3>
                    <p>@Model.Leader.StudentName.ToString() - <b>Leader</b></p>
                    @foreach (var item in Model.Members)
                    {
                        <p>@item.StudentName - Member</p>
                    }
                </div>
            </div>
        </div>
        
    </div>
</div>



