﻿@model web2019asn_p03_team3.Models.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="py-5  text-center">
<div class="container">
    <div class="row">
        <div class="mx-auto p-4 col-md-7">
            <h1 class="mb-4">Edit Project</h1>
            <form asp-action="Edit" class="text-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectID" class="control-label font-weight-bold"></label>
                    <input asp-for="ProjectID" readonly class="form-control" />
                    <span asp-validation-for="ProjectID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectTitle" class="control-label font-weight-bold"></label>
                    <input asp-for="ProjectTitle" class="form-control" />
                    <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectDescription" class="control-label font-weight-bold"></label>
                    <textarea asp-for="ProjectDescription" class="form-control" rows="3" placeholder="Description"></textarea>
                    <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectPoster" class="control-label font-weight-bold"></label>
                    <div class="d-flex">
                        <input asp-for="ProjectPoster" class="form-control" readonly />
                        <a asp-action="UploadPhoto" asp-route-id="@Model.ProjectID" class="btn btn-secondary">Upload Photo</a>
                    </div>
                    <span asp-validation-for="ProjectPoster" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectURL" class="control-label font-weight-bold"></label>
                    <input asp-for="ProjectURL" class="form-control" />
                    <span asp-validation-for="ProjectURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label><b>Members</b></label>
                    <div class="d-flex">
                        <a asp-action="AddnRemoveMembers" asp-route-id="@Model.ProjectID" class="btn btn-primary mr-1">Add</a>
                        <a asp-action="RemoveMembers" asp-route-id="@Model.ProjectID" class="btn btn-danger mx-1">Remove</a>
                    </div>
                </div>

                <div class="form-group mt-5">
                    <input type="submit" value="Save" class="btn btn-warning" />
                </div>
</form>
        </div>
    </div>
</div>
</div>


