﻿@model IEnumerable<web2019asn_p03_team3.Models.Project>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="py-5">
    <div class="container">
        @if (Context.Session.GetString("Role") != null)
        {
            if (Context.Session.GetString("Role") == "Student")
            {
                <h2>My Projects</h2>
            }
        }
        else
        {
            <h2>All Projects</h2>
        }
        <div class="row">
            <div class="col-md-12">
                <hr />
                @*<a class="text-dark" asp-action="Create" style="text-decoration:none;"><i class="fas fa-plus d-inline mr-1"></i></a>
                <a class="text-dark" asp-action="Create" style="text-decoration:none;"><p class="d-inline">Create a new Project</p></a>*@
                @{
                    @if (Context.Session.GetString("Role") != null)
                    {
                        if (Context.Session.GetString("Role") == "Student")
                        {
                            <a class="text-dark" asp-action="Create" style="text-decoration:none;"><i class="fas fa-plus d-inline mr-1"></i></a>
                            <a class="text-dark" asp-action="Create" style="text-decoration:none;"><p class="d-inline">Create a new Project</p></a>
                            @await Html.PartialAsync("_ViewProjects.cshtml")
                        }
                    }
                    else
                    {
                        @await Html.PartialAsync("_ViewProjects.cshtml")
                    }
                }
                @*<partial name="~/Views/Staff/_ViewStaff.cshtml" model="@Model" />*@
            </div>
        </div>
    </div>
</div>

