﻿@model web2019asn_p03_team3.Models.ProjectViewModel

@{
    ViewData["Title"] = "RemoveMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Remove Members</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="RemoveMembers">
            <div class="form-group row">
                <label asp-for="Members" class="col-sm-3 col-form-label">Remove Members</label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="Members" asp-items="@ViewData["memberList"] as List<SelectListItem>" class="form-control selectFunc" multiple></select>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Remove" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

