﻿@model web2019asn_p03_team3.Models.Lecturer

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<p style="color:red;">@TempData["Message"]</p>
<body>
    <div class="form">
        <form method="post" action="~/Lecturer/PasswordChange">
            <fieldset>
                <label for="txtOldPwd">Current Password:</label>
                <input type="password" name="txtOldPwd"
                       id="txtOldPwd" style="width:100px"
                       required /><br /><br />
                <label for="txtNewPwd">New Password:</label>
                <input type="password" name="txtNewPwd"
                       id="txtNewPwd" style="width:100px"
                       required /><br /><br />
                <label for="txtCfmPwd">Confirm New Password:</label>
                <input type="password" name="txtCfmPwd"
                       id="txtCfmPwd" style="width:100px"
                       required /><br /><br />
                <input type="submit" id="btnChangePassword"
                       class="myButton" value="Change Password" />
                <br />
                <span style="color:red;">@TempData["Message2"]</span>
            </fieldset>
        </form>
    </div>
</body>
</html>