﻿@model IEnumerable<web2019asn_p03_team3.Models.Student>

@{
    ViewData["Title"] = "ViewMentees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">View Mentees</h4>
<p>@TempData["Message"]</p>
@if (Model.ToList().Count > 0)
{
    <div class="table-responsive">
        <table id="viewStudent" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.StudentID.ToString()</td>
                        <td>@item.StudentName</td>
                        <td>
                            <a asp-action="Profile" asp-controller="Student" asp-route-id="@item.StudentID" class="btn btn-primary">View Profile</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}