﻿@model web2019asn_p03_team3.Models.Lecturer

@{
    ViewData["Title"] = "LecturerSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registration</h2>

<h4>Lecturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LecturerSignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LecturerName" class="control-label"></label>
                <input asp-for="LecturerName" class="form-control"/>
                <span asp-validation-for="LecturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerEmailAddr" class="control-label"></label>
                <input asp-for="LecturerEmailAddr" class="form-control" type="email"/>
                <span asp-validation-for="LecturerEmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerDescription" class="control-label"></label>
                <input asp-for="LecturerDescription" class="form-control" />
                <span asp-validation-for="LecturerDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="~/Login/Index">Back to Login Page</a>
</div>

