﻿@model web2019asn_p03_team3.Models.Student

@{
    ViewData["Title"] = "StudentSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>StudentSignUp</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StudentSignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentName" class="control-label"></label>
                <input asp-for="StudentName" class="form-control" />
                <span asp-validation-for="StudentName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="StudentCourse" class="control-label"></label>
            <input asp-for="StudentCourse" class="form-control" />
            <span asp-validation-for="StudentCourse" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="StudentEmailAddr" class="control-label"></label>
                <input asp-for="StudentEmailAddr" class="form-control" />
                <span asp-validation-for="StudentEmailAddr" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="MentorID" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9 col-md-5">
                    <select asp-for="MentorID"
                            asp-items="@ViewData["Mentorlist"] as List<SelectListItem>"
                            class="form-control"></select>
                </div>
            </div>
            @*<div class="form-group">
            <label asp-for="StudentDescription" class="control-label"></label>
            <input asp-for="StudentDescription" class="form-control" />
            <span asp-validation-for="StudentDescription" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
        </div>
</div>

<div>
    <a href="~/Login/Index">Back to Login Page</a>
</div>

<!--

<div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentPhoto" class="control-label"></label>
                <input asp-for="StudentPhoto" class="form-control" />
                <span asp-validation-for="StudentPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentDescription" class="control-label"></label>
                <input asp-for="StudentDescription" class="form-control" />
                <span asp-validation-for="StudentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAchievement" class="control-label"></label>
                <input asp-for="StudentAchievement" class="form-control" />
                <span asp-validation-for="StudentAchievement" class="text-danger"></span>
-->
